{% extends 'base.html'%}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'style.css' %}">
{% endblock customcss %}

{% block title %}
<title>HouseList</title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
    {% for item in object_list %}
    <p>
        物件名:{{item.houseName}}
    </p>
    <p>
        ハウスタイプ:{{item.houseType}}
    </p>
    <p>
        <a href="{% url 'housedetail' item.pk%}">この物件の詳細</a>
    </p>
    <p>
        <a href="{% url 'good' item.pk %}" class="btn btn-primary" role="button"
            aria-pressed="true">いいね：{{item.good}}</a>
        <a href="{% url 'read' item.pk %}" class="btn btn-danger" role="button"
            aria-pressed="true">既読：{{item.read}},既読者：{{item.readtext}}</a>

    </p>
    {% if item.images %}
    <p>
        <img src="{{item.images.url}}">
    </p>

    {% endif %}
    {% endfor %}
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}