{% extends 'base.html'%}
{% load static %}

{% block title %}
<title>HouseDetail</title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
    <h2>{{object.houseName}}</h2>

    {% if object.images %}
    <p><img src='{{object.images.url}}'></p>
    {% endif %}

    <a href="{% url 'good' object.pk %}" class="btn btn-primary" role="button"
        aria-pressed="true">いいね：{{object.good}}</a>
</div>

<div class="container">
    <p><a href="{% url 'signup' %}">決定</a></p>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}