{% extends 'base.html'%}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'style.css' %}">
{% endblock customcss %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<form class="form-signin" method='POST' action=''>{% csrf_token %}

    <h1 class="h3 mb-3 font-weight-normal">ログインしてください</h1>

    {% if error %}
    <!--エラーが存在する場合-->
    {{error}}
    {% endif %}

    <label for="inputPassword" class="sr-only">ユーザ名</label>
    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="ユーザ名" required autofocus>

    <label for="inputEmail" class="sr-only">メールアドレス</label>
    <input type="email" id="inputEmail" class="form-control" name="mail" placeholder="メールアドレス" required autofocus>

    <label for="inputPassword" class="sr-only">パスワード</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="パスワード" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">サインイン</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    <p><a href="{% url 'login' %}">既に登録済みの方はこちら</a></p>
</form>


<div class="container">
    <p><a href="{% url 'chatcreate' %}">チャットページ</a></p>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}