{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'style.css' %}">
{% endblock customcss %}

{% block title %}
<title>RegionList</title>
{% endblock title %}

{% block header %}
<div class="container">
    <h2>おすすめの地域です</h2>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    {% for item in object_list %}
    <div class="item">
        <p><a href="{% url 'regiondetail' item.pk %}">{{ item.region }}</a></p>
    </div>
    {% endfor %}
</div>
{% endblock content %}